.container{
    background-color: white;
    border: 0.5px solid gray;
}
li {
    display: inline-block;
}
.menu-icon {
    height: auto;
    width: 15px;
    vertical-align: middle;
}
.logo {
    height: auto;
    width: 35px;
    vertical-align: middle;
    margin-left: 10px;
  
}
.logo-footer {
    height: auto;
    width: 35px;
  
}
.search-icon {
    height: auto;
    width: 15px;
    vertical-align: middle;
    margin-right: 50px;
    border: 2px solid gray;
    padding: 7px;
}
.upload-icon {
    height: auto;
    width: 50px;
    vertical-align: middle;
    margin-right: 50px;
    
}
.sign-in {
   text-decoration-color: white;
   background-color: blue;
   height: 25px;
   border-radius: 5px;
}
.youtube {
   vertical-align: middle;
}
.search {
    width: 700px;
    height: 30px;
}
.nav-right {
    display: inline-block;
}
.nav-mid {
    display: inline-block;
}
.nav-left {
    display: inline-block;
}
aside {
    display: flexbox;
    margin-left: 0px;
}

.main{
    padding: 15px;
}

.video{
    margin-left: 0;
    width: 65%;
    display: inline-block;
    left: 0;
    vertical-align: top;
}


.channel-icon{
    display: inline-block;
    vertical-align: top;
    margin-top: 0px;
    margin-bottom: 0px;
}

.channel-details {
    display: inline-block;
    vertical-align: text-bottom;
    margin-top: 0px;
    margin-bottom: 0px;
}

.social-media-icons{
    display: flex;
    margin-left: -90px;
    list-style: none;
    justify-content: space-around;

}
.share{
    width:75%;

}

.like{
    
}

i{

}


.date{
    display: inline-block;
}

.description{
    display: inline-block;
}

.side-bar{
    display: inline-block;
    right: 0;
    width: 30%;
    border: 1px solid gray;
}
.side-bar img{
    display: inline-block;
    margin: 5px;
}
.side-bar h3 {
    display: inline-block;
    width: 200px;
    font-size: 15px;
    vertical-align: top;
}
.side-bar small{
    display: inline-block;
    width: 200px;
    top: 0;

}

.foot{
    display:inline-block;
}

.footleft{
    display:inline-block;
}
.foot-mid{
    display:inline-block;
}

.foot-right{
    display:inline-block;
}